.links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  height: 76px;
  width: 1152px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  flex-grow: 1;
  margin-bottom: 24px;
  text-decoration: none;
}

.links_container span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .links_container {
    height: 68px;
    width: 343px;
    border-radius: 8px;
    width: 343px;
  }
}
