* {
  margin: 0;
  padding: 0;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100%;
  background: #ffffff;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.button_container {
  margin-top: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 375px) {
  body {
    display: block;
  }

  .app {
    padding: 0 16px;
  }

  .button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
