* {
  margin: 0;
  padding: 0;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  /* background-color: #f4f5f7; */
  background: #ffffff;
}

.app {
  width: 100%;
  min-height: 100vh;
  width: 1152px;
}

.button_container {
  margin-top: 56px;
}
